@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* VARIABLES CSS */
:root{
    --header-height : 4.5rem;
    /* COLORS */
    --black-color: hsl(220,34%,12%);
    --black-color-light : hsl(220,24%,25%);
    --black-color-lighten :hsl(220,20%,18%);
    --white-color: #ec496a;
    --font-color :rgba(48, 45, 45, 0.699);
    --body-color: hsl(220,100%,98%);
    --font-color : hsla(60, 1%, 16%, 0.842);
    --font-color_two : rgba(206, 48, 74, 0.836); 

    /* FONT AND TYPOGRAPHY */
    --body-font: "Poppins", sans-serif;
    --normal-font-size : .938rem;

    /* FONT WEIGHT  */
    --font-regular: 400;
    --font-semi-bold : 600;

    /* Z-INDEX  */
    --z-tooltip : 10;
    --z-fixed :100;
}

@media screen and (min-width :1024px) {
    :root{
        --normal-font-size : 1rem;
    }
}


    /* BASE  */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: var(--body-font);
    /* padding: 0 .4rem; */
    background-color: rgba(251,251,251,255);
    font-size: var(--normal-font-size);
}


ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.header{
    position: relative;
}

.container{
    margin-inline: 1.5rem;
}

.header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color:var(--body-color);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: var(--z-fixed);
}

.nav{
    height: var(--header-height);
}

.nav_logo,
.nav_burger,
.nav_close{
    color: var(--white-color);
}

.logo{
    display: flex;
    gap: .2rem;
    align-items: center;
    width: 60px;
    height: 60px;
    img{
        width: 100%;
        height: 100%;
    }
    h1{
        font-size: 1.25rem;
        font-weight: 500;
    }
}

.nav_data{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_toggle{
    position: relative;
    width: 42px;
    height: 42px;
    background-color: var(--body-color);
}

.nav_burger,
.nav_close{
    position: absolute;
    width: max-content;
    height: max-content;
    inset: 0;
    margin: auto;
    font-size: 1.5rem;
    cursor: pointer;
    transition: opacity .1s, transform .4s;
}

.nav_close{
    opacity: 0;
}

@media screen and (max-width : 768px) {
    .nav_menu{
        position: absolute;
        left: 0;
        top: 4.5rem;
        width: 100%;
        height: calc(100vh - 4.5rem);
        overflow: auto;
        pointer-events: none;
        opacity: 0;
        transition: top .4s,opacity .3s;
    }

    .nav_menu::-webkit-scrollbar{
        width: 0;
    }

    .nav_list{
        background-color: var(--body-color);
        box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
        padding-top: 1rem;
    }
}


.nav_link{
    color: var(--white-color);
    background-color: var(--body-color);
    font-weight: var(--font-semi-bold);
    padding: 1.25rem 2.5rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    transition: background-color .4s;
}

.nav_link:hover{
    background-color: white;
}

/* SHOW MENU  */
.show-menu{
    opacity: 1;
    top: 4.5rem;
    pointer-events: initial;
}

/* SHOW ICON  */
.show-icon .nav_burger{
    opacity: 0;
    transform: rotate(90deg);
}

/* DROPDOWN */
.dropdown_item{
    cursor: pointer;
}

.dropdoen_arrow{
    font-size: 1.25rem;
    font-weight: initial;
    transition: transform .4s;
}

.dropdown_link{
    padding: 1.25rem 4.5rem;
    color: var(--font-color_two);
    background-color: var(--body-color);
    display: flex;
    align-items: center;
    font-weight: var(--font-semi-bold);
    transition: background-color .3s;
}

.dropdown_link:hover{
    background-color: white;
}

.dropdown_menu{
    max-height: 0;
    overflow: hidden;
    transition: max-height .4s ease-out;
}

.dropdown_item:hover .dropdown_menu{
    max-height: 1000px;
    transition: max-height .4s ease-in;
}

.dropdown_item:hover .dropdoen_arrow{
    transform: rotate(180deg);
}
/* ================= */

.show-icon .nav_close{
    opacity: 1;
    transform: rotate(90deg);
}

@media screen and (max-width : 337px) {
    .dropdown_link{
        font-size: .738rem;
        padding: 1.25rem 3.5rem;
    }
}

@media screen and (min-width : 768px) {
    .container{
        margin-inline: 2.5rem ;
    }

    .nav{
        height: calc(var(--header-height) + 2rem);
        display: flex;
        justify-content: space-between;
    }

    .nav_toggle{
        display: none;
    }

    .nav_list{
        height: 100%;
        display: flex;
        column-gap: 3rem;
    }

    .nav_link{
        height: 100%;
        padding: 0;
        justify-content: initial;
        font-size: 1rem;
        column-gap: .25rem;
    }

    .nav_link:hover{
        background-color: transparent;
    }

    .dropdown_item{
        position: relative;
    }
    
    .dropdown_menu{
        max-height: initial;
        overflow: initial;
        position: absolute;
        left: 0;
        top: 7rem;
        width: max-content;
        opacity: 0;
        pointer-events: none;
        transition: opacity .3s, top .3s;
    }

    .dropdown_link{
        padding: 1.25rem 1.5rem;
    }

    .dropdown_item:hover .dropdown_menu{
        opacity: 1;
        top: 6.5rem;
        pointer-events: initial;
        transition: top .3s;;
    }
}


/* SECTION 1   */

.section_container{
    position: relative;
    width: 100%;
    height: 500px;
    margin-bottom: 2rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
 }
 
 .section_imag{
    width: 100%;
    height: 100%;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
 }

 .section_name{
    position: absolute;
    top: 10rem;
    left: 5rem;
    width: 40%;
    span{
        font-size: 2.5rem;
        border-bottom: 2px solid rgba(48, 45, 45, 0.699);
        color: rgb(206, 48, 74);
        font-weight: 500;
    }
    hr {
        width: 50%;
    }
    p{
        font-weight: 600;
        font-size: 3rem;
        color: var(--font-color);
    }
 }


 @media screen and (max-width :  320px) {
    .section_name{
        top: 10rem;
        left: 3rem;
        span{
            font-size: 1.5rem;
        }
        p{
            font-weight: 600;
            font-size: 2rem;
        }
     }
 }

 
 @media screen and (max-width :  480px) {
    .section_name{
        top: 10rem;
        left: 4rem;
        span{
            font-size: 1.5rem;
        }
        p{
            font-weight: 600;
            font-size: 1.8rem;
        }
     }
 }


 @media screen and (max-width :  1384px) {
    .section_name{
        top: 12rem;
        left: 4rem;
        span{
            font-size: 2rem;
        }
        p{
            font-size: 1.2rem;
        }
     }
 }

/* SECTION 2 */

.section_three{
    width: 100%;
    height: max-content;
    padding: 1rem;
    margin-bottom: 2rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
 }
 
 .section_three_container{
    width: 90%;
    margin: auto;
 }
 .section_three_container_haeding{
    width: max-content;
    margin: auto;
    h1{
        font-size: 2rem;
        text-align: center;
        bottom: 2rem;
        color: rgb(206, 48, 74);;
    }
    hr{
        width: 70%;
        border: 1px solid var(--font-color_two);
        
    }
 }

 .section_three_bottom_type{
    width: 100%;
    padding: 1rem;
    height: max-content;
 }

 .section_three_bottom_type{
    width: 100%;
    padding: 1rem;
    height: max-content;
 }

 .section_three_bottom_service{
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 2rem;
    padding: 1rem;
    border-radius:0 2rem;
    margin: 1rem;
    transition: .4s;
 }
 .section_three_bottom_service:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    transform: scale(1.01);
 }

 .section_three_bottom_pic{
    width: 100%;
    height: 230px;
    border-radius: 0 4rem;
    transition: .4s;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0 4rem;
        
    }&:hover{
        transform: scale(1.01);
    }
 }

 .section_three_bottom_discription{
    width: 95%;
    height: 100%;
    h1{
        text-align: start;
        color: var(--font-color_two);
        font-weight: 600;
        padding-right: 1rem;
    }
    p{
        color: var(--font-color);
        text-align: justify;
        font-weight: 500;
        padding-right: 1rem;
    }
 }

 .button{
    width: max-content;
    padding: .5rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    border-radius: 1rem 0;
    transition: .4s;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    a{
        text-decoration: none;
        color: var(--font-color_two);
        font-weight: 600;
        font-size: 1rem;
        width: 100%;
        height: 100%;
    }
 }
.button:hover{
    background-color: pink;
    transform: scale(1.01);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
/* MEDIA QUERY  */

@media screen and (max-width:1043px) {
    .section_three_bottom_discription{
        h1{
          font-size: 1.5rem;
        }
     }

}
  


@media screen and (max-width:825px) {
    .section_three_container{
        width: 99%;
     }
    .section_three_bottom_discription{
        h1{
           font-size: 1.1rem;
        }
        p{
           font-size: .838rem;
        }
     }
     .button{
        a{
            font-size: .8rem;
        }
     }
}


@media screen and (max-width:677px) {
    .section_three_container{
        h1{
            font-size: 1.5rem;
            bottom: 2rem;
        }
        hr{
            border: 1px solid var(--font-color_two);
            
        }
     }
     .section_three_bottom_service{
        grid-template-columns: auto;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
     }
     .section_three_bottom_discription{
        margin: auto;
        h1{
            padding:0;
        }
        p{
            padding: 0;
        }
     }
}


@media screen and (max-width:422px) {
    .section_three_container{
        h1{
            font-size: 1rem;
            bottom: 2rem;
        }
        hr{
            border: .5px solid var(--font-color_two);
            
        }
     }
     .section_three{
        padding: .1rem;
     }
     .section_three_container{
        width: 98%;
     }
    
 .section_three_bottom_service{
    margin: 1.5rem 0;
 }
  .section_three_bottom_type{
    padding: .01rem;
 }
}


/* FOOTER  */

.footer_container{
    width: 100%;
    height: max-content;
    background-color: var(--body-color);
    padding: 5rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.footer_biv_flex{
    display: grid;
    grid-template-columns: auto auto auto auto;

}

.footer_box{
    p{
        font-size: 1rem;
        font-weight: 600;
        color: var(--font-color);
    }
   
    ul li a{
        color: var(--font-color);
        font-weight: 600;
        transition: .4s;
        &:hover{
            border-bottom: 1px solid black;
        }
    }
}

.footer_social{
    font-size: 2.5rem;
    margin-top: 1rem;
    display: grid;
    padding: 1rem;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
    border-bottom: 1px solid rgb(173, 166, 166);
    a{
        color: var(--font-color_two);
        transition: .4s;
        &:hover{
            transform: scale(1.1);
            color: black;
        }

    }
   
}

.footer_date{
    display: flex;
    justify-content: space-between;
    div{
        width: max-content;

    }
}

@media screen and (max-width:1024px) {
    .footer_biv_flex{
        gap: 2rem;
        grid-template-columns: auto auto auto;
    }
}

@media screen and (max-width:800px) {
    .footer_biv_flex{
        gap: 2rem;
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width:656px) {
    .footer_biv_flex{
        gap: 2rem;
        grid-template-columns: auto;
    }
}

@media screen and (max-width:428px) {
    .footer_social{
        font-size: 2rem;
    }
}
@media screen and (max-width:388px) {
    .footer_social{
        font-size: 1.5rem;
    }
}